*{
    margin:0;
padding:0;
}
.load{
    animation: slide 2s;
}
.slider{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width: 100%;
    height:100vh;
    animation: slide 40s infinite;


}
.content{
    color: #fff;
    width:100%;
    height:100%;

}
.principal{
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    background-color:rgba(0,0,0,0.5);
    letter-spacing:5px;
    widows: 100%;
    height:100vh;
    letter-spacing:2px;
    text-align:center;
}
.principal h1{
    font-size: 70px;
    margin-bottom:20px;
}
.principal p{
    font-size:20px;

}
@keyframes slide {
    0%{
        background-image: url('Assets/Images/rick1.png')
    }
    33%{
        background-image: url('Assets/Images/rick1.png')
    }
    33.01%{
        background-image: url('Assets/Images/rick2.png')
    }
    66%{
        background-image: url('Assets/Images/rick2.png')
    }
    66.01%{
        background-image: url('Assets/Images/rick3.png')
    }
    100%{
        background-image: url('Assets/Images/rick3.png')
   

}