  html 
  {
      margin:0 ;
      padding : 0; 
  }

  body
  {
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    overflow-y: hidden;
    animation: slide 2s;
    animation: slide 40s infinite;
  }
  
  header
  {
    display: none;
  }


  /* ********************* Fin Reset et Style Général ***************** */

@keyframes slide {
  0%{
    background-image: url('../Images/rick1.png')
  }
  33%{
    background-image: url('../Images/rick1.png')
  }
  33.01%{
    background-image: url('../Images/rick2.png')
  }
  66%{
    background-image: url('../Images/rick2.png')
  }
  66.01%{
    background-image: url('../Images/rick3.png')
  }
  100%{
    background-image: url('../Images/rick3.png')
  }
}
/* **************************** Fin Slider **************************** */


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
}

#logo
{
  max-width: 300px;
  margin: 24px 0;
}
.container 
{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1
{
  font-size: 24px !important;
}

#contact
{
  background-color: #F9F9F9;
  opacity: 0.9;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.mdl-textfield__label{
  color:rgb(10,10,10);  
}

.mdl-textfield__input{
  cursor: pointer;
  border : none;
  font-size: 18px !important;
  margin-top: 10px;
}

fieldset
{
  display: flex;
  justify-content: space-between;
}

.mdl-button--file input {
  opacity: 0;
}

#fichier_upload
{
  cursor: pointer;
}

.pickle
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.success
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#snuffles
{
  display: none;
}

.errorMsg {
    color:red;
}
.errorMessage {
    color:red;
}
.messageErreur {
  color:red;
  margin-bottom: -15px !important;
}


  /* **************************** Media Queries **************************** */

@media (max-width: 480px) and (orientation: portrait) {
  body {
    background: url('../Images/rick2.png') !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    overflow: hidden;
  }

  #wrapper
  {
    display: flex;
    flex-direction: column;
  }

  #logoH
  {
    padding: 30px;
    max-width: 300px;
    padding-bottom: 20px;
  }
  #logo
  {
    display: none;
  }
  header
  {
    display: block;
    position: fixed;
    top: 0;
    background : #303030;
    width: 100%;
    z-index: 1;
  }
  .container {
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px;
    border-radius: 0px;
    top: 0;
  }

  #snuffles
{
  display: block;
  margin-right: 35vw;
  margin-left: auto;
}


}
@media screen and (min-height: 768px) and (max-width: 1280px) {
  body {
    background: url('../Images/rick2.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}


@media (max-width: 812px) and (orientation: portrait) { /* Tablette portrait, grands smartphones */

  .container
  {
    box-shadow: none;
  }

}

@media (max-width: 812px) and (orientation: landscape) { /* Grands smartphones paysage */

  body {
    background: url('../Images/rick2.png') !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    overflow: hidden;
    margin: 0;
  }
  #logoH
  {
    padding: 20px;
    max-width: 300px;
  }
  #logo
  {
    display: none;
  }

  .message 
  {
    font-size: 18px;
  }

  #snuffles
{
  display: none;
}

@media (max-width: 480px) and (orientation: portrait) { /* Smartphones portrait */

  

}

@media (max-height: 480px) and (orientation: portrait) { /* Petits smartphones */



}

@media (max-width: 480px) and (orientation: landscape) { /* Petits smartphones paysage */



}

@media (max-height: 320px) and (orientation: portrait) { /* Mini smartphones */



}

@media (max-height: 320px) and (orientation: landscape) { /* Mini smartphones paysage */



}