html {
    margin:0 ;
    padding : 0; 
  }
  body {
    height: 100vh;
    width: 100vw;
    margin: 50px auto;
    width: 512px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    overflow-y: hidden;
    animation: slide 2s;
    animation: slide 40s infinite;
  }
  
  header
  {
    display: none;
  }


  /* *********************debut slider***************** */

@keyframes slide {
  0%{
    background-image: url('../Images/rick1.png')
  }
  33%{
    background-image: url('../Images/rick1.png')
  }
  33.01%{
    background-image: url('../Images/rick2.png')
  }
  66%{
    background-image: url('../Images/rick2.png')
  }
  66.01%{
    background-image: url('../Images/rick3.png')
  }
  100%{
    background-image: url('../Images/rick3.png')
  }
}
/* ****************************fin slider**************************** */

.mdl-button--file input {
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}
.mdl-textfield__label{
  color:rgb(10,10,10);  
}
.mdl-textfield__input{
  cursor: pointer;
  box-sizing: border-box;
  width: calc(100% - 32px);
  border : none;
  font-size: 20px !important;
}

#fichier_upload
{
  cursor: pointer;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
}
#logo
{
  max-width: 350px;
  padding-bottom: 20px;
}
.container {
  width: 400px;
  margin: 0 auto;
  position: relative;
  box-shadow: 3px 5px rgba(242,242,242,0.4);
  border-radius:20px;

}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}
#contact {
  opacity: 0.9;
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius:20px;
}
#contact h1 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}
#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.pickle
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.success
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#snuffles
{
  display: none;
}

.errorMsg {
    color:red;
}
.errorMessage {
    color:red;
}
.messageErreur {
  color:red;
  margin-bottom: -15px !important;
}


  /* **************************** Media Queries **************************** */

@media (max-width: 480px) and (orientation: portrait) {
  body {
    background: url('../Images/rick2.png') !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    overflow: hidden;
  }
  #logoH
  {
    padding: 30px;
    max-width: 300px;
    padding-bottom: 20px;
  }
  #logo
  {
    display: none;
  }
  header
  {
    display: block;
    position: fixed;
    top: 0;
    background : #303030;
    width: 100%;
  }
  .container {
    width: 100%;
    height: 100vh;
    position: relative !important;
    box-shadow: 0px 0px;
    border-radius: 0px;
    top: 0;
  }
  .mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 4;
}
  .mdl-textfield__label{
  color:rgb(10,10,10);  
  }
  .mdl-textfield__input{
    box-sizing: border-box;
    width: calc(100% - 32px);
    border : none;
    font-size: 16px !important;
  }
  #contact {
    background: #F9F9F9;
    margin: 105px 0; 
    height: 100vh;
    max-width: 100vw;
  }
  #contact h3 {
    display: block;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  #contact h4 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
  }

  .message 
  {
    font-size: 18px;
  }

  #snuffles
{
  display: block;
  margin-right: 35vw;
  margin-left: auto;
}


}
@media screen and (min-height: 768px) and (max-width: 1280px) {
  body {
    background: url('../Images/rick2.png') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
}


@media (max-width: 812px) and (orientation: portrait) { /* Tablette portrait, grands smartphones */

  .container
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: none;
  }

  
}

@media (max-width: 812px) and (orientation: landscape) { /* Grands smartphones paysage */

  body {
    background: url('../Images/rick2.png') !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    overflow: hidden;
    margin: 0;
  }
  #logoH
  {
    padding: 20px;
    max-width: 300px;
  }
  #logo
  {
    display: none;
  }
  header
  {
    /* display: block;
    position: fixed;
    top: 0;
    background : #303030;
    width: 100%;
    z-index: 1; */
    display: none;
  }

  .container {
    width: 100%;
    height: 100vh;
    position: relative !important;
    box-shadow: 0px 0px;
    border-radius: 0px;
    top: 0;
  }
  .mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 4;
}
  .mdl-textfield__label{
  color:rgb(10,10,10);  
  }
  .mdl-textfield__input{
    box-sizing: border-box;
    width: calc(100% - 32px);
    border : none;
    font-size: 16px !important;
  }
  #contact {
    position: fixed;
    bottom: 0;
    background: #F9F9F9;
    margin: 0; 
    padding: 0;
    height: 100%;
    width: 100%;
  }

  #contact h3 {
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  #contact h4 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
  }

  .message 
  {
    font-size: 18px;
  }

  #snuffles
{
  display: none;
}

@media (max-width: 480px) and (orientation: portrait) { /* Smartphones portrait */

  

}

@media (max-height: 480px) and (orientation: portrait) { /* Petits smartphones */



}

@media (max-width: 480px) and (orientation: landscape) { /* Petits smartphones paysage */



}

@media (max-height: 320px) and (orientation: portrait) { /* Mini smartphones */



}

@media (max-height: 320px) and (orientation: landscape) { /* Mini smartphones paysage */



}